.section-container {
  background: url("https://images.pexels.com/photos/3214958/pexels-photo-3214958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: -80px;
}

.section-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 0px;
}

.section-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
}

.section-btn {
  margin-top: 32px;
}

@media screen and (max-width: 960px) {
  .section-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .section-container > h1 {
    font-size: 60px;
  }

  .section-container > p {
    font-size: 30px;
  }
}
